@media (max-width: 988px){
    .container{
        width: 750px;
    }   
    .reviews{
        .reviews__block{
            width: 500px;
        }
    }
}
@media (max-width: 770px){
    .container{
        width: 550px;
    }  
    .promo{
        .header__phone{
            font-size: 17px;
        }
    }
    .catalog{
        .catalog__content{
            justify-content: center;
        }
    }
    .advantages{
        .advantages__descr{
            width: 179px;
            font-size: 12px;
    
        } 
        .advantages__subtitle{
            font-size: 14px;
        }
        .title{
            font-size: 25px;
        }
    }
    .reviews{
        .reviews__descr{
            font-size: 13px;    
        }
        .reviews__block{
            width: 350px;
        }
    }
    
}
@media (max-width: 590px){
    .container{
        width: 400px;
    } 
    .promo{
        .promo__wrapper{
            .button_main{
                width: 264px;
                font-size: 14px;
            }
            .promo__icons{
                width: 390px;
            }
        }
        h1.promo__header{
            font-size: 25px;
        }
        h2.promo__subheader{
            font-size: 14px;
        }
        &__icons{
            width: 378px;
        }
        .header{
            .button{
                width: 136px;
                font-size: 12px;
            }
            &__phone{
                font-size: 14px;
            }
            span{
                font-size: 12px;
            }
            &__official{
                font-size: 11px;
            }
        }
    }
    .advantages{
        height: 770px;
        &__wrapper{
            flex-wrap: wrap;
        }
        &__descr{
            margin: 26px 0;
        }
    }
    .consultation{
        .title_left{
            font-size: 25px;
        }
    }
    .catalog{
        .catalog__tab{
            font-size: 13px;
        }
    }
    .reviews{
        margin-bottom: 71px;
        .reviews__wrapper{
            flex-direction: column;
            img{
                width: 350px;
            }
        }
    }
}
@media (max-width: 435px){
    .container{
        width: 350px;
    }
    .header{
        .button{
            width: 117px;
            font-size: 10px;
        }
        &__phone{
            font-size: 12x;
        }
        span{
            font-size: 9px;
        }
        &__official{
            font-size: 9px;
        }
    }
    .promo{
        .promo__wrapper{
            .button_main{
                width: 235px;
                font-size: 12px;
            }
            .promo__icons{
                width: 330px;
            }
        }
        h1.promo__header{
            font-size: 21px;
        }
        h2.promo__subheader{
            font-size: 12px;
        }
        &__icons{    
            width: 330px;
        }
        &__link{
            font-size: 14px;
        }
    }
    .catalog{
        .catalog__tab{
            width: 80px;
            font-size: 9px;
            line-height: 10px;
            div{
                margin-top: 15px;
            }
        }
    }
    .advantages{
        height: 1000px;
        .advantages__wrapper{
            justify-content: center;
            align-items: center;
        }
    }
    .consultation{
        h2.title_left{
            font-size: 20px;
        }
        &__descr{
            font-size: 17px;
        }
    }
    .footer{
        .footer__addr{
            width: 350px;
        }
    }
}
@media (max-width: 470px){
    .overlay{
        .modal{
            width: 250px;
            padding: 15px;
            &__subtitle{
                font-size: 13px;
            }
            &__descr{
                font-size: 12px;
            }
            .feed-form_mt25{
                width: 100%;
                button{
                    font-size: 13px;
                }
            }
        }
       
    }
}
