.carousel{
    padding: 108px 0;
    min-height: 743px;
    &__inner{
        position: relative;
        img{
            display: block;
            margin: 0 auto;
            width: 100%;
        }
        .slick-prev, .slick-next {
            border: none;
            background-color: rgba($color: #fff, $alpha: 0);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -66px;
            z-index: 1;
            cursor: pointer;
        }
        .slick-next{
            right: -66px;
            left: auto;
        }
    }
}