@media (max-width: 1300px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        .about-grid {
            row-gap: 10px;
            .about__skills {
                grid-template: 1fr 1fr / 1fr;
                gap: 24px;
            }
        }

    }

    .portfolio {
        .card{
            width: 280px;
        }
        &__wrapper {
            grid-template: repeat(2, 280px) /repeat(3, 280px);
            justify-content: space-between;
            row-gap: 50px;
        }
        &__item {
            img {
                width: 280px;
                height: 280px;
                object-fit: cover;
            }
            &__descr{
                width: 280px;
                font-size: 12px;
                height: 220px;
                &_uber{
                    left: -5px;
                }
                &_food{
                    left: 335px;
                }
                &_crud{
                    left: 676px;
                }
                &_marvel{
                    left: -5px;
                }
                &_puls{
                    left: 335px;
                }
                &_chess{
                    left: 676px;
                }
              
            }
        }
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__title {
            font-size: 38px;
        }
    }
    .about {
        .about-grid {
            .about__photo {
                grid-row: unset;
            }
            .about__name {
                margin-top: 30px;
                grid-row: 2;
            }
            .about__skills {
                grid-row: 3;
                margin-top: 30px;
            }
            grid-template: 500px auto auto / 1fr;
        }
    }
    .portfolio {

        &__wrapper {
            grid-template: repeat(2, 280px)/repeat(2, 280px);
            justify-content: space-around;
        }
        &__item{
            img{
                height: 270px;
                width: 270px;
            }
            &__descr{
                left: -10px;
                &_uber{
                    left: 26px;
                }
                &_food{
                    left: 400px;
                }
                &_marvel{
                    left: 400px;
                }
                &_crud{
                    top: 400px;
                    left: 26px;
                }
                &_puls{
                    left: 26px;
                    top: 700px;
                }
                &_chess{
                    left: 400px;
                    top: 700px;

                }
            }
        }
    }


}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .portfolio {
        &__wrapper {
            row-gap: 5px;
        }
        &__item__descr{
            &_uber{
                left: -26px;
            }
            &_food{
                left: 265px;
            }
            &_marvel{
                left: 265px;
                top: 300px;
            }
            &_crud{
                top: 300px;
                left: -26px;
            }
            &_puls{
                left: -26px;
                top: 600px
            }
            &_chess{
                left: 265px;
                top: 600px
            }
        }
    }
}


@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    .promo {
        &__title {
            width: 100%;
            font-size: 25px;
            line-height: 31px;
        }
    }
    .resume {
        &__subtitle {
            font-size: 30px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template: auto/ 280px;
        }
        &__item__descr{
            &_uber{
                left: 50%;
                transform: translateX(-53%);
            }
            &_food{
                left: 50%;
                transform: translateX(-53%);
                top: 350px;
            }
            &_crud{
                left: 50%;
                transform: translateX(-53%);
                top: 650px;
            }
            &_marvel{
                left: 50%;
                transform: translateX(-53%);
                top: 900px;
            }
            &_puls{
                left: 50%;
                transform: translateX(-53%);
                top: 1200px;
            }
            &_chess{
                left: 50%;
                transform: translateX(-53%);
                top: 1400px;
            }
        }
    }
    .footer__link{
        svg{
            width: 20px;
            height: 20px;
        }
    }
    .about{
        .about-grid{
            grid-template: auto auto/1fr;
            .about__photo{
                display: none;
            }
        }
    }
    .technologies{
        padding: 0 5vw;
    }
}