.portfolio{
    padding-top: 120px;
    background-image: radial-gradient(circle closest-side at 82vw 24vh, rgb(255, 252, 216) 10%, rgb(249, 236, 236) 40%, rgba(255, 149, 0,0.3) 100%);
    min-height: 1220px;
    [data-tech]{
        cursor: pointer;
        &:hover{
            color: #1E90FF;
        }
    }
    .divider {
        @include divider;
        margin: 0 auto;
    }
    .technologies{
        margin-top: 50px;
        font-size: 20px;
    }
    &__title{
        text-align: center;
        @include before_circle_center;
    }
    &__subtitle{
        text-align: center;
    }
    &__wrapper{
        padding-top: 70px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 373px);
        gap: 15px;
    }
    &__item{
        cursor: pointer;
        text-decoration: none;
        transition: all 1s;
        &-link{
            display: block;
            width: 20px;
            height: 20px;
            background-color: red;
            position: absolute;
            top: 30%;
        }
        img {
            width: 373px;
            height: 373px;
            object-fit: cover;
            border-radius: 5%;
            transition: all .7s;
            z-index: 5;
            &:hover{
                transform: scale(1.04);
            }
        }
        &__descr{
            display: none;
            background-color: rgb(234, 164, 94);
            border-radius: 5%;
            padding: 5px;
            margin: 5px;
            border: solid 4px rgb(227, 154, 81);
            color: black;
            text-align: left;
            font-size: 16px;
            z-index: 1000;
            width: 373px;
            height: 260px;
            position: absolute;
            top: 50px;
            opacity: 0;
            transition: all 1s;
            cursor: pointer;
            &_marvel{
                top:400px
            }
            &_food{
                left:382px
            }
            &_crud{
                left:770px
            }
            &_title{
                display: block;
                text-align: center;
                font-size: 18px;
            }
        }
    }
}

